<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>Trip</title>
</head>
<body>
  <nav><h1>Welcome, to your trip schedules {{user.first_name}}{{request.session.id}}</h1>
    <div>
      <a href='{% url "trips:add" %}'>Add your Trip and description</a>
      <br></br>
      <a href='{% url "login:logout" %}'>Logout</a>
    </div>
  </nav>
  <main>
    <h3>Recent trip add:</h3>
    {% for travel in travels %}
    <div class='review'>
      <h4><a href='{% url "trips:show" review.trip.id %}'>{{review.trip.title}}</a></h4>
      <div class='reviewbody'>
        Rating: {{review.rating}}
        <p><a href='{% url "login:user" review.user.id %}'>{{review.user.first_name}}</a> says: {{review.review}}</p>
        <p>Posted on {{review.created_at}}</p>

      </div>
    </div>
    {% endfor %}
  </main>
  <aside>
    <h3>Other trip with Reviews:</h3>
    <div id='trips'>
      <ul>
        {% for trip in trips %}
        <li><a href='{% url "trips:show" trip.id %}'>{{trip.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </aside>
</body>
</html>
